@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.container {
  width: 100%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.container .bgSection {
  float: right;
}

.container .bgSection #frame {
  width: 100%;
  height: 100vh;
}

.container .bgSection #frame .panels {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  z-index: 5;
}

.container .bgSection #frame .panels li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.container .bgSection #frame .panels li.on img {
  opacity: 1;
}

.container .bgSection #frame .panels li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s, transform 4s;
}

.container .bgMobile {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .bgMobile figure {
  width: 100%;
  height: 100%;
}

.container .bgMobile figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 화면 왼쪽 로그인 container */
.container .loginCont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 700px;
  height: 100vh;
  z-index: 9;
}

.container .loginCont .login {
  position: absolute;
  width: 55%;
  min-height: 500px;
  text-align: center;
  border-radius: 30px;
  padding: 30px;
  border: 1px solid #003377;
}

.login h2.logo::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #003377;
}

.login h2.logo img {
  width: 140px;
  margin-bottom: 15px;
}

.login span.sublogo {
  display: block;
  font-size: 15px;
  margin: 5px auto 20px;
}

.login .loginInput {
  width: 260px;
  margin: 10px auto;
}

.login .loginInput::after {
  content: "";
  display: block;
  clear: both;
}

.login .loginInput input[type=text],
.login .loginInput input[type=password] {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0 10px;
  border: 1px solid #003377;
}

.login .loginInput input[type=text]::placeholder,
.login .loginInput input[type=password]::placeholder {
  padding-left: 7px;
}

.user::-webkit-input-placeholder {
  background: url(./img/user.png) 6px 0 no-repeat;
  text-indent: 25px;
}

.password::-webkit-input-placeholder {
  background: url(./img/password.png) 4px 2px no-repeat;
  background-size: 23px;
  text-indent: 25px;
}

.login .loginInput select {
  width: 100%;
  height: 25px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6px;
}

.login .loginInput select:valid {
  padding-left: 5px;
  color: #777;
}

.login .loginInput .loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 36px;
  font-size: 14px;
  background-color: #003377;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login .loginInput .loginBtn:hover {
  background-color: rgba(0, 51, 119, 0.9);
}

.login .loginNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 8px;
  margin-bottom: 30px;
}

.login .saveId {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.login .saveId {
  font-size: 14px;
  color: #000;
  background: transparent;
  cursor: pointer;
  border: none;
}

.login .notice.on {
  display: none;
}

.login .notice p {
  font-size: 13px;
  margin-bottom: 15px;
}

.login .notice span {
  font-size: 11px;
}

@media screen and (max-width: 1670px) {
  .container {
    min-width: 1650px;
    overflow: auto;
  }
}